*{
    padding: 0px 5px;
    margin: 0;
}
a.nav-link {
    color: #4db4de;
}
.w-100 {
    width: 1450px;
    height: 600px;
    padding-top: 5px;
}
.grid-create{
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 5px;

    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 16px;

}
.component{
    padding-top: 15px;
}
.form-floating {
    margin-top: 15px;
}
.from-fill {
    margin-top: 14px;
}
.mb-2 {
    margin-top: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.5rem!important;
}
section.table-data {
    padding: 15px;
}
button.btn.btn-primary {
    margin-left: 7px;
    margin-top: 6px;
    width: 138px;
}
th.dip1 {
    width: 2px;
}
th.dip {
    width: 2px;
}
@media screen and (max-width: 576px) {
    .cards .card {
      width: 100% !important;
      margin-bottom: 1rem;
    }
    .cards .card:last-child {
      margin-bottom: 0;
    }
  }

